@font-face {
	font-family: 'Gilroy'; 
	src: url(../ttf/Gilroy-Bold.ttf); 
}

body {
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-color: rgba(5, 5, 5, 0.89);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: "Gilroy", bold;
    color: rgb(255, 255, 255);
}
